@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Política de Privacidade</h1>

<p>A MOSAIK entende a importância da privacidade e está comprometida em proteger as informações pessoais que você coletamos. Esta Política de Privacidade descreve como coletamos, usamos e divulgamos suas informações pessoais quando você usa nosso Software de roupas. Ao usar o Software, você concorda com os termos desta Política.</p>
<h3>Coleta de Informações Pessoais<h2>
<h3>Coletamos as seguintes informações pessoais quando você usa o Software:</h3>

<p>Informações de Conta: Quando você cria uma conta na MOSAIK, coletamos seu nome, endereço de e-mail, senha e outras informações que você pode fornecer.
    Informações de Perfil: Você pode optar por fornecer informações adicionais sobre seu perfil, como sua foto, localização e interesses.
    Dados de Uso: Coletamos dados sobre como você usa o Software, como as telas que você visualiza, as ações que você executa e o tempo que você gasta usando o Software.
    Dados do Dispositivo: Coletamos informações sobre o dispositivo que você usa para acessar o Software, como o tipo de dispositivo, o sistema operacional e o endereço IP.
    Informações de Terceiros: Podemos coletar informações de terceiros, como o Facebook ou o Google, se você conectar sua conta MOSAIK a essas contas.
</p>
<h3>Uso das Informações Pessoais</h3>
<h3>Usamos suas informações pessoais para os seguintes fins:</h3>
<p>
    Fornecer e melhorar o Software: Usamos suas informações pessoais para fornecer e melhorar o Software, incluindo para personalizar sua experiência e fornecer recursos e funcionalidades relevantes para você.
    Comunicar-se com você: Podemos usar suas informações pessoais para comunicar-se com você sobre o Software, como para enviar atualizações, avisos e ofertas promocionais.
    Analisar e pesquisar: Podemos usar suas informações pessoais para analisar e pesquisar como o Software é usado, para que possamos melhorar nossos produtos e serviços.
    Cumprir a lei: Podemos usar suas informações pessoais para cumprir a lei, como para responder a uma intimação ou solicitação legal.
</p>
<h3>Compartilhamento de Informações Pessoais</h3>
<h3>Não compartilhamos suas informações pessoais com terceiros, exceto nos seguintes casos:</h3>
<p>
    Com seu consentimento: Podemos compartilhar suas informações pessoais com terceiros se você consentir.
    Com fornecedores de serviços: Podemos compartilhar suas informações pessoais com fornecedores de serviços que nos ajudam a operar o Software, como provedores de hospedagem e análise.
    Para cumprir a lei: Podemos compartilhar suas informações pessoais para cumprir a lei, como para responder a uma intimação ou solicitação legal.
    Em caso de venda ou fusão: Se a MOSAIK for vendida ou fundida com outra empresa, podemos compartilhar suas informações pessoais com a nova empresa.
</p>
<h3>Suas Escolhas</h3>
<h3>Você tem as seguintes opções em relação às suas informações pessoais:</h3>
<p>Acesso e atualização de suas informações pessoais: Você pode acessar e atualizar suas informações pessoais na sua conta MOSAIK.
    Excluir suas informações pessoais: Você pode solicitar a exclusão de suas informações pessoais enviando um e-mail para [endereço de e-mail removido].
    Cancelar comunicações: Você pode cancelar o recebimento de comunicações de marketing da MOSAIK clicando no link de cancelamento de inscrição em qualquer e-mail que enviarmos.
</p>
<h3>Segurança de Dados</h3>
<p>Tomamos medidas de segurança para proteger suas informações pessoais contra perda, roubo, acesso não autorizado, divulgação, alteração ou destruição. Essas medidas incluem medidas físicas, técnicas e administrativas.</p>

<h3>Retenção de Dados</h3>
<p>Reteremos suas informações pessoais pelo tempo necessário para cumprir os propósitos para os quais foram coletadas, a menos que sejamos obrigados por lei a reter suas informações pessoais por um período mais longo.</p>

<h3>Mudanças nesta Política</h3>
<p>Podemos atualizar esta Política de tempos em tempos. Se fizermos alterações materiais, notificaremos você por e-mail ou por meio do Software.</p>

<h3>Contato</h3>
        <p>Se você tiver alguma dúvida sobre esta Política, por favor, entre em contato conosco pelo e-mail: clothingmosaik@gmail.com</p>

<h3>Lei Aplicável e Foro</h3>
<p>Esta Política é regida e interpretada de acordo com as leis do Brasil. Qualquer disputa decorrente ou relacionada a esta Política será resolvida exclusivamente pelos tribunais do Brasil.</p>