@model MOSAIK.Models.Tamanho

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Tamanho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTamanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTamanho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TamanhoId" class="btn btn-segundo">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista</a>
</div>
