html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F1EFE7 !important
}

.display-4 {

    text-align: center
}

.logo {
    width: 75px;
    height: 75px;
    margin-left: 30px
}

.menu {
    background-color: #BBB3A5 !important
}

.rodape {
    background-color: #BBB3A5 !important;
    padding-left: 38px;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

.nav-item {
    margin-right: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px

}

.nav-item :hover {
    color: #F1EFE7 !important;
}

.navbar-nav {
    justify-content: center
}

.btn-primary {
    background: none !important;
    margin-top: 7px;
    color: #594D4b !important;
    border: none !important;
    padding-left: 0px !important
}

.btn-primary:hover {
    color: #D6C7AC !important;
}

.btn-segundo {
    padding-top: 5px;
    margin-top: 5px;
    height: 35px;
    background: #594D4b;
    color: #F1EFE7 !important;
    border: none !important;
    border-radius: 4px !important;
}

.btn-segundo:hover {
    color: #594D4b !important;
    background: none !important;
    border: 1px solid #473533 !important
}

.input-validation-error {
    border-radius: 5px !important;
    border: 1.5px solid #594D4b   !important;
    height: 37px;
    margin-top: 5px
}

.btn-danger2 {
    margin: 5px;
    background: none !important;
    color: #594D4b !important;
    border: none !important;
    border-radius: 4px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px
}

.btn-danger2:hover {
    color: #F1EFE7 !important;
}

.btn-pesquisa {
    margin-top: -4px;
    padding-top: 5px;
    height: 35px;
    background: #594D4b;
    color: #F1EFE7 !important;
    border: none !important;
    border-radius: 4px !important;
}

.btn-pesquisa:hover {
    color: #594D4b !important;
    background: none !important;
    border: 1px solid #473533 !important
}

.fotoProduto {
    height: 150px;
    width: 150px;
    object-fit: cover;
}
}

.btn-primary.active, .btn-primary:active, .btn:active, .btn.active {
    color: #D6C7AC !important;
    border: 1px solid #D6C7AC !important;
}